@model FilmReviews.Web.ViewModels.Movie

@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron bg-transparent">
    <h1 class="display-3">@Model.Title</h1>
    <hr class="my-4">
    <p class="lead">Year: @Model.Year</p>
    <p class="lead">Rated: @Model.Rated</p>
    <p class="lead">Runtime: @Model.Runtime</p>
    <p class="lead">Genre: @Model.Genre</p>
    <p class="lead">Director: @Model.Director</p>
    <p class="lead">Writer: @Model.Writer</p>
    <p class="lead">Actors: @Model.Actors</p>
    <p class="lead">Language: @Model.Language</p>
    <p class="lead">Country: @Model.Country</p>
    <p class="lead">Metascore: @Model.Metascore</p>
    <p class="lead">ImdbRating: @Model.ImdbRating</p>
    <p class="lead">ImdbVotes: @Model.ImdbVotes</p>
    <p class="lead">Production: @Model.Production</p>
    <p class="lead"><img src="@Model.Poster" width="150" height="175" /></p>
    <hr class="my-4">
    <p>Plot: @Model.Plot</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-md" asp-action="GetAllMovies">List</a>
        @Html.ActionLink("Create Review", "Index", "Review", new { imdbId = Model.ImdbId, movieTitle = Model.Title }, new { @class = "btn btn-success btn-md" })
    </p>
</div>