@model FilmReviews.Web.ViewModels.Review

@{
    ViewData["Title"] = "Details";
}
<div class="jumbotron bg-transparent">
    <h1 class="display-3">@Model.Name</h1>
    <hr class="my-4">
    <p class="lead">@Model.MovieTitle</p>
    <hr class="my-4">
    <p>@Model.MovieReview</p>
    <hr class="my-4">
    <p class="lead">Author: @Model.Author</p>
    <p class="lead">Rating: @Model.Rating</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-md" asp-action="GetAllReviews">Back to List</a>
        <a class="btn btn-success btn-md" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    </p>
</div>