@model FilmReviews.Web.ViewModels.Review

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImdbId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieReview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieReview)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="GetAllReviews">Back to List</a>
</div>
