@model IEnumerable<FilmReviews.Web.ViewModels.Review>

@{
    ViewData["Title"] = "GetAllReviews";
}

@if (Model.Count() > 0)
{
    <h1>Reviews</h1>
    <table class="table table-hover ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovieTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImdbId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReviewDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieReview)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-default">
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImdbId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReviewDate)
                    </td>
                    <td>
                        @if (item.MovieReview.Length > 10)
                        {
                            @item.MovieReview.Substring(0, 9)
                            <text> ... </text>
                        }
                        else
                        {
                            @item.MovieReview
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)/5
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa fa-search"></i> Edit
                        </a>
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fa fa-search"></i> Details
                        </a>
                        <a class="btn btn-outline-warning" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa fa-search"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>Empty! :(</h1>
}

